[Desktop Entry]
Name=Alfarvis
GenericName=Research Paper Manager
Comment=Natural language based data analysis software
Exec=~/.Alfarvis/alfa
Icon=alfa
Terminal=false
Type=Application
Categories=Education;Literature;Qt;
